<!-- src/main/resources/templates/edit.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Blog</title>
</head>
<body>
<h1>Edit Blog</h1>
<form th:action="@{/blogs/edit}" th:object="${blog}" method="post">
    <label>Title:</label>
    <input type="text" th:field="*{title}" required/><br/>

    <label>Content:</label><br/>
    <textarea th:field="*{content}" rows="8" cols="40" required></textarea><br/>

    <button type="submit">Update</button>
</form>
<a th:href="@{/blogs}">Back to list</a>
</body>
</html>