<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/users/submit}" method="post" th:object="${user}">
    <label>Họ: </label>
    <input type="text" th:field="*{firstName}">
    <small class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></small><br>
    <label>Tên:</label>
    <input type="text" th:field="*{lastName}">
    <small class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small><br>
    <label>Số điện thoại:</label>
    <input type="text" th:field="*{phoneNumber}">
    <small class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></small><br>
    <label>Tuổi</label>
    <input type="text" th:field="*{age}">
    <small class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></small><br>
    <label>Email: </label>
    <input type="text" th:field="*{email}">
    <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small><br>
    <button type="submit">Đăng kí</button>
</form>
</body>
</html>